<section class="driver">
  <section class="driver-form-header" >
    <h2 class="driver-form-title">
      Editing <%= @driver.name %>
    </h2>
  </section>
  <%= render partial: "form", locals: {action_name: "Update"} %>
</section>
